* {
    margin: 0px;
    padding: 0px;   
}

.btn {
    display: block !important;
    margin: 0 auto;   
}

p {
    text-align: center;
    color: #81a982;
}

input {
    margin: 0 auto !important;
    color:  #81a982 !important;
    border: 2px solid  #81a982 !important;
    border-radius: 4px;
    padding-left: 2px;
}

input:focus {
    outline: none;
    background-color: #d5f3d5;
}



.btn-outline-secondary {
    color: #81a982 !important;
    border-color: #81a982 !important;
}

.btn-outline-secondary:hover {
    color: #fff !important;
    border-color: #fff !important;
    background-color: #81a982 !important;
}

.card-img-top {
    height: 200px;
}

.card-body {
    height: 140px;
    padding: 0px !important;
    padding-top: 4px !important;
}

.jumbotron {
    background-color: #81a982 !important;
    padding: 0.5rem 0.5rem !important;
    height: 100vh !important;
    margin-bottom: 0px !important;
}